body {
    background-image: url("./tiny-squares.png");
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: rgba(214, 214, 214, 0.4);
    position: relative;
}

header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 0px;
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
}

#header-title {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title h2 {
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
}

#client {
    text-align: center;
}

.chart-row {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.air-conditioner-chart {
    margin-left: 30px;
}

.chart-container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    width: 70%;
}

.airConInfo{
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 30px;
}

.btn {
    margin-left: 20px;
    margin-right: 10px;
    background-color: #68d9e8;
    border-radius: 15px;
    margin-bottom: 30px;
}

.airConInfo > p {
    font-size: 22px;
}

span {
    font-size: 30px;
    font-weight: 600;
}