body {
    background-color: #9bc1e8;
    height: 100%;
}

header {
    background-color: #e1ffcc;
    position: relative;
}

header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 0px;
}

#header-title {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    position: relative;
    width: 100%;
    height: 88%;
}

.col-lg-12 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-sidebar {
 background-color: #72e091;
 padding-top: 30px;
 padding-bottom: 30px;
 padding-left:100px;
 padding-right: 100px;
 border-radius: 25px;
}

#login-sidebar h3 {
    text-align: center;
}

#login-sidebar .form-group {
    display: flex;
}

#login-sidebar .row {
    width: auto;
    height: auto;    
}

#login-sidebar .form-inline {
    display: inline;
}

#login-sidebar label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-sidebar #username-label {
    margin-left: 15px;
}

#login-sidebar #password-label {
    margin-left: 20px;
}

#login-sidebar .btn {
    margin-right: 10px;
    background-color: #68d9e8;
    border-radius: 15px;
}

#login-sidebar #btngroup {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
