body {
    background-image: url("./tiny-squares.png");
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: rgba(214, 214, 214, 0.4);
    position: relative;
}

header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 0px;
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
}

#header-title {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-title h2 {
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
}

.row {
    position: relative;
    width: 100%;
    height: 88%;
}

.col-lg-12 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-sidebar {
    background-color: rgba(141, 141, 141, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:100px;
    padding-right: 100px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px rgba(141, 141, 141, 1);
}

#login-sidebar h3 {
    color: rgba(255, 255, 255);
    text-align: center;
    font-weight: 600;
}

#login-sidebar .form-group {
    color: rgba(255, 255, 255);
    font-size: 1.2em;
    display: flex;
    font-weight: 500;
}

#login-sidebar .row {
    width: auto;
    height: auto;    
}

#login-sidebar .form-inline {
    display: inline;
}

#login-sidebar label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-sidebar #username-label {
    margin-left: 61px;
}

#login-sidebar #password-label {
    margin-left: 89px;
}

#login-sidebar #comfirm-password-label {
    margin-left: 14px;
}

#login-sidebar .btn {
    margin-right: 10px;
    background-color: rgba(104, 217, 232, 1);
    border-radius: 15px;
}

#login-sidebar .btn:hover {
    background-color: rgb(240, 233, 138);
    color: rgba(0, 0, 0, 1);
}

#login-sidebar #btngroup {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
